<app-header (homeClicked)="onHomeClicked()"></app-header>
<form class="register-form" (ngSubmit)="registerUser()">
  <!-- Contenedor de error -->
  <div *ngIf="errorMessage" class="error-container">
    <button class="error-close" type="button" (click)="closeError()">&times;</button>
    <div class="error-title">¡Ups! Ha ocurrido un error</div>
    <div class="error-message">{{ errorMessage }}</div>
  </div>

  <!-- Contenedor de éxito -->
  <div *ngIf="successMessage" class="success-container">
    <button class="success-close" type="button" (click)="closeSuccess()">&times;</button>
    <div class="success-title">¡Registro exitoso!</div>
    <div class="success-message">{{ successMessage }}</div>
  </div>

  <label for="usuario">Usuario</label>
  <input type="text" id="usuario" name="usuario" [(ngModel)]="formData.usuario" placeholder="Ingresa tu usuario" required>

  <label for="contrasena">Contraseña</label>
  <input type="password" id="contrasena" name="contrasena" [(ngModel)]="formData.contrasena" placeholder="Ingresa tu contraseña" required>

  <label for="primerNombre">Primer Nombre</label>
  <input type="text" id="primerNombre" name="primerNombre" [(ngModel)]="formData.primerNombre" placeholder="Ingresa tu primer nombre" required>

  <label for="segundoNombre">Segundo Nombre</label>
  <input type="text" id="segundoNombre" name="segundoNombre" [(ngModel)]="formData.segundoNombre" placeholder="Ingresa tu segundo nombre">

  <label for="primerApellido">Primer Apellido</label>
  <input type="text" id="primerApellido" name="primerApellido" [(ngModel)]="formData.primerApellido" placeholder="Ingresa tu primer apellido" required>

  <label for="segundoApellido">Segundo Apellido</label>
  <input type="text" id="segundoApellido" name="segundoApellido" [(ngModel)]="formData.segundoApellido" placeholder="Ingresa tu segundo apellido" required>

  <label for="email">Email</label>
  <input type="email" id="email" name="email" [(ngModel)]="formData.email" placeholder="Ingresa tu email" required>

  <label for="telefono">Teléfono</label>
  <input type="number" id="telefono" name="telefono" [(ngModel)]="formData.telefono" placeholder="Ingresa tu teléfono" required>

  <label for="tipoIdentificacion">Tipo de Identificación</label>
  <select id="tipoIdentificacion" name="tipoIdentificacion" [(ngModel)]="formData.tipoIdentificacion" required>
    <option value="1">Cédula</option>
    <option value="2">Pasaporte</option>
  </select>

  <label for="identificacion">Identificación</label>
  <input type="number" id="identificacion" name="identificacion" [(ngModel)]="formData.identificacion" placeholder="Ingresa tu identificación" required>

  <button type="submit">Registrar</button>
</form>
<app-footer></app-footer>
